{% extends "base.html" %}

{% block content %}


    <h2>Add a Blog Entry</h2>
    <form method='post'>
        <p><label>
            Title for your new blog:
            <br><input type="text" name='titleblog' value = '{{titleblog}}'/></br>
        </label></p>
        <p class="error">{{titleblog_error}}</p>
        <p><label>
            Your new blog:
            <br><textarea name='blogbody'>{{blogbody}}</textarea></br>
        </label></p>
        <p class="error">{{blogbody_error}}</p>
        <input type="submit" value='Add Entry' />
        <br></br>
    </form>
    
        <!-- <h2>Blog Posts</h2>
        <ul>
            {% for blog in blogs %}
            <h3>{{blog.title}}</h3>
            <h5>{{blog.body}}</h5>
            {% endfor %}
        </ul> -->

{% endblock %}